header{
    background: darkred;
    color: black;
    font-family: 'Times New Roman', Times, serif;
    font-size: 40px;
    padding: 14.5px;
    text-align: center;
    border-radius: 4px;
    display: inline;
    position: relative;
    top: 13.5px;
}

body{
    background: black;
    color: white;
}

.links{
    color: blue;
    text-align: right;
    font-family: 'Times New Roman', Times, serif;
    font-size: 24px;
    
}

.top{
    background: #262626;
    border-radius: 4px;
}

h1{
    font-family: 'Times New Roman', Times, serif;
    font-size: 36px;
    color: white;
    margin: 20px;
}

h2{
    font-family: 'Times New Roman', Times, serif;
    margin: 20px;
    font-size: 30px;
}

#name{
    width: 80%;
    height: 20px;
}

#email{
    width: 80%;
    height: 20px;
}

#message{
    width: 80%;
    height: 30%;
}

.content{
    width: 70%;
    margin: 0 auto;
    }